*{
	margin: 0;
	padding: 0;
}

body{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}


.container{
	width: 500px;
	height: 350px;
	background: rgb(236, 106, 46);
	padding: 20px;
	border-radius: 10px;
	text-align: center;
    
}

#player1 h1{
font-size: 30px;
margin: 15px 0;
color: white;
margin: 20px;
}



#player1 input{
	width: 60%;
	font-size: 20px;
	border: none;
	outline: none;
	padding: 10px;
	border-radius: 25px;
	text-align: center;
	background: rgb(225, 238, 39);
	color: rgb(84, 14, 247);
	font-weight: 700;
    margin: 15px auto;
}

.input_box{
	position: relative;
}


#player1 button {
	width: 26%;
	border: none;
	outline: none;
	padding: 10px;
	font-size: 20px;
	font-weight: 500;
	background: rgb(66, 234, 100);
	border-radius: 25px;
	position: absolute;
	top: 15px;
	left: 314px;
	color: white;
	cursor: pointer;
    transition: 0.4s;
    
}

#player1 button:hover{
    background: rgb(139, 61, 9);
}


#player1 span{
	color: rgb(241, 237, 237);
	font-size: 16px;
	font-weight: 600;
}

/* second player start here */


#player2 h1{
	font-size: 30px;
	margin: 14px 0;
	color: white;
	display: none;
	}


	#player2 input{
    	width: 60%;
    	font-size: 20px;
    	border: none;
    	outline: none;
    	padding: 10px;
    	border-radius: 25px;
    	text-align: center;
    	margin: 15px 0;
    	background: rgb(225, 238, 39);
    	color: rgb(84, 14, 247);
    	font-weight: 700;
    	display: none;
        margin:20px auto;
	}




	.input_box1{
    	position: relative;
        
	}


	#player2 button {
        width: 26%;
        border: none;
        outline: none;
        padding: 10px;
        font-size: 20px;
        font-weight: 500;
        background: rgb(66, 234, 100);
        border-radius: 25px;
        position: absolute;
        top: 0;
        left: 322px;
        color: white;
        cursor: pointer;
        opacity: 0;
        transition: 0.4s;
    }

    #player2 button:hover{
        background: rgb(139, 61, 9);
    }

	#player2 span{
    	color: rgb(241, 237, 237);
    	font-size: 16px;
    	font-weight: 600;
    	display: none;
	}

	#player2 h3{
    	font-size: 20px;
    	margin: 14px 0;
    	color: rgb(241, 220, 23);
    	font-weight: 700;
    	display: none;
	}


    #reset_btn {
        border: none;
        outline: none;
        background: rgb(26, 207, 9);
        padding: 10px 20px;
        width: 40%;
        font-size: 20px;
        border-radius: 25px;
        color: white;
        cursor: pointer;
        margin: 100px auto;
        transition: 0.4s;
    }

    #reset_btn:hover{
        background: gold;
    }
